.header_links {
    display:flex;
    text-decoration: none;
    background-color: transparent;
}

.header_form {
   display:justify-content;
    //width: 40%;
}

@media screen and (max-width:992px) {
    .header_links {
        margin-top: 0.7rem;
    }

    .header_form {
        
        width: 80%;
    }
}
.navbar-brand{
    text: bold;
}